@font-face {
  font-family: "iconfont"; /* Project id 3595481 */
  src: url('iconfont.woff2?t=1660738335343') format('woff2'),
       url('iconfont.woff?t=1660738335343') format('woff'),
       url('iconfont.ttf?t=1660738335343') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anquanrenzheng:before {
  content: "\100d7";
}

.icon-daVrenzheng:before {
  content: "\100d8";
}

.icon-guanfangrenzheng:before {
  content: "\100d9";
}

.icon-guanlirenzheng:before {
  content: "\100da";
}

.icon-darenrenzheng:before {
  content: "\100db";
}

.icon-a-3Crenzheng:before {
  content: "\100dc";
}

.icon-lanVrenzheng:before {
  content: "\100dd";
}

.icon-pinpairenzheng:before {
  content: "\100de";
}

.icon-saomiaorenzheng:before {
  content: "\100df";
}

.icon-shangbiaorenzheng:before {
  content: "\100e0";
}

.icon-shenfenzhengrenzheng:before {
  content: "\100e1";
}

.icon-qiyerenzheng:before {
  content: "\100e2";
}

.icon-shoujirenzheng:before {
  content: "\100e3";
}

.icon-shimingrenzheng:before {
  content: "\100e4";
}

.icon-zimeitirenzheng:before {
  content: "\100e5";
}

.icon-yonghurenzheng:before {
  content: "\100e6";
}

.icon-qicherenzheng:before {
  content: "\100e7";
}

.icon-pingtairenzheng:before {
  content: "\100e8";
}

.icon-wangluorenzheng:before {
  content: "\100e9";
}

.icon-shipinrenzheng:before {
  content: "\100ea";
}

.icon-zhiwenrenzheng:before {
  content: "\100eb";
}

.icon-fangwurenzheng:before {
  content: "\100ec";
}

.icon-yinhangkarenzheng:before {
  content: "\100ed";
}

.icon-xingqurenzheng:before {
  content: "\100ee";
}

.icon-zichanrenzheng:before {
  content: "\100ef";
}

.icon-ziliaorenzheng:before {
  content: "\100f0";
}

.icon-guanbitongzhi:before {
  content: "\e628";
}

.icon-tishi:before {
  content: "\e629";
}

